
* {
  font-family: vazir;
}

a {
  text-decoration: none;
}

.logback {
  background: url(image/logback.jpg);
  width: 100%;
  height: 100%;
}

.bg-blue {
  background-color: #557A95;
}

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.manage_link {
  text-decoration: none;
  padding: 1rem;
}

.manage_nav {
  list-style-type: none;
  padding: 0;
}

.manage_title {
  padding: 1rem;
  text-align: center;
}


.bordergradiant {
  border: 0.5rem solid;
}

.full {
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.borderleftgradiant {
  border-left: 0.5rem solid;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader>img {
  width: 25%;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .loader>img {
    width: 50%;
  }
}

.stickynav {
  position: fixed;
  background: #fff;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  transition: background 0.4s;
}

body {
  font-family: Vazir, sans-serif !important;
}

.container__content{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.alert__margin{
  display: flex;
  margin-bottom: 0;
  border-radius: 0;
  align-items: center;
}

.alert__margin p{
  display: flex;
  position: relative;
  top: 0.6rem;
}

.alert__margin button{
  padding: 1.6rem 1rem !important;
}

.container__input{
  display: flex;
  margin: 0 auto;
  height: 2rem !important;
}

.container__label{
  display: flex;
  position: relative;
  margin: -14px auto 0 auto !important;
}